[submodule ".vim/dein/repos/github.com/Shougo/dein.vim"]
	path = .vim/dein/repos/github.com/Shougo/dein.vim
	url = git@github.com:Shougo/dein.vim
[submodule ".vim/dein/repos/github.com/felipesousa/rupza"]
  path = .vim/dein/repos/github.com/felipesousa/rupza
  url = git@github.com:felipesousa/rupza
[submodule ".vim/dein/repos/github.com/cespare/vim-toml"]
  path = .vim/dein/repos/github.com/cespare/vim-toml
  url = git@github.com:cespare/vim-toml
[submodule ".vim/dein/repos/github.com/neoclide/coc.nvim"]
  path = .vim/dein/repos/github.com/neoclide/coc.nvim
  url = git@github.com:neoclide/coc.nvim
[submodule ".vim/dein/repos/github.com/vim-airline/vim-airline"]
  path = .vim/dein/repos/github.com/vim-airline/vim-airline
  url = git@github.com:vim-airline/vim-airline
[submodule ".vim/dein/repos/github.com/vim-airline/vim-airline-themes"]
  path = .vim/dein/repos/github.com/vim-airline/vim-airline-themes
  url = git@github.com:vim-airline/vim-airline-themes
